<form>
    <script>

        function dragover_handler(ev) {
            ev.preventDefault();
            ev.dataTransfer.dropEffect = "copy";
        }

        function drop_handler(ev) {
            ev.preventDefault();
            const data = ev.dataTransfer.getData("text/plain");
            const drop_item_id = document.getElementById(data).id            
            const drop_zone = document.getElementById(ev.target.id);
            // Drop result in ability_drop_zone or results_drop_zone
            if((drop_item_id.includes("div_final_result") && (drop_zone.id === "results_drop_zone" || (drop_zone.id.includes("ability_drop_zone") && !drop_zone.querySelector(".ability-drop-item")))))
            {
                drop_zone.appendChild(document.getElementById(data));  
            }
            RecalcFinalScores();          
        }

        // Increment or Decrement ability with Bonus Points
        function BPchange(ev){
            const bp_button = document.getElementById(ev.target.id);
            const bp_points = bp_button.parentElement.querySelector(".bp");
            const bp_points_value = parseInt(bp_points.innerText);
            const bp_max = parseInt(span_bp_max.innerText);
            var bp_remaining = parseInt(span_bp_remaining.innerText);

            if(bp_button.id.includes("minus") && bp_points_value > 0){

                bp_points.innerText = Math.max(0, bp_points_value - 1);
                bp_remaining = (bp_remaining < bp_max ? bp_remaining + 1 : bp_max);
                span_bp_remaining.innerText = bp_remaining;

            }else if(bp_button.id.includes("plus")){

                bp_points.innerText = (bp_remaining > 0 ? bp_points_value + 1 : bp_points.innerText);
                bp_remaining = (bp_remaining > 0 ? bp_remaining - 1 : 0);
                span_bp_remaining.innerText = bp_remaining;
            }
            RecalcFinalScores(); 
        }

        function RecalcFinalScores(){
            // Get rows from ability scores table
            const ability_rows = ability_scores.querySelectorAll(".ability-row")
            var score_over_18 = false;// lame
            for(var row = 0; row < ability_rows.length; row += 1)
            {
                const ability_row = document.getElementById(ability_rows[row].id);
                const ability_drop_item = ability_row.querySelector(".ability-drop-zone").querySelector(".ability-drop-item");
                const bonus_points = ability_row.querySelector(".bonus-points").querySelector(".bp");
                const final_score = ability_row.querySelector(".final-score"); 
                const modifier = ability_row.querySelector(".modifier"); 

                // Calculate final score
                final_result = parseInt(ability_drop_item ? ability_drop_item.innerText : 0);
                bonus_result = parseInt(bonus_points.innerText);
                // TODO: Add Racial bonus
                final_score.value = final_result + bonus_result;

                // Calculate dnd5e ability modifier
                // TODO: Other game systems?
                const ability_mod = Math.floor((final_score.value - 10)/2)
                modifier.innerText = (ability_mod > 0 ? "+" : "") + ability_mod;

                // Check for score over 18: This is lame and will be made better in the future
                score_over_18 = (final_score.value > 18 ? true : score_over_18) 
                // TODO: This is still lame
                if(ability_scores.dataset.over18allowed === "false" && final_score.value > 18){
                    final_score.classList.add("over18");
                }else{
                    final_score.classList.remove("over18");
                }
            }

            //Enable/Disable submit Button
            const over18NotAllowed = ability_scores.dataset.over18allowed === "false" && score_over_18;// Did I mention... lame?
            const results_drop_zone = document.getElementById("results_drop_zone");
            var ability_items_count = 0;
            if(results_drop_zone){
                const ability_drop_items = results_drop_zone.querySelectorAll(".ability-drop-item");
                ability_items_count = ability_drop_items.length
            }
            const bp_remaining = parseInt(span_bp_remaining.innerText);
            submit.disabled = (ability_items_count > 0 || bp_remaining > 0 || over18NotAllowed);
        }

        async function MoveResult(ev){
            const result_item = document.getElementById(ev.target.id);
            const results_drop_zone = document.getElementById("results_drop_zone");
            if(result_item.parentElement.id === "results_drop_zone")
            {
                const next_ability = GetNextAbilityDropZone();
                await next_ability.appendChild(result_item);
            }
            else if(results_drop_zone){
                await results_drop_zone.appendChild(result_item);
            }
            RecalcFinalScores(); 
        }

        function GetNextAbilityDropZone(){            
            const ability_rows = ability_scores.querySelectorAll(".ability-row")
            for(var row = 0; row < ability_rows.length; row += 1)
            {
                const ability_row = document.getElementById(ability_rows[row].id);
                const ability_drop_zone = ability_row.querySelector(".ability-drop-zone")
                if(ability_drop_zone.innerText === "")
                {
                    return ability_drop_zone;
                }
            }
        }

        function ApplyAsRolled(){            
            const ability_drop_items = results_drop_zone.querySelectorAll(".ability-drop-item");
            for(var item = 0; item < ability_drop_items.length; item += 1)
            {
                const next_ability = GetNextAbilityDropZone();
                next_ability.appendChild(ability_drop_items[item]);
                results_header.innerText = "Results applied as rolled"
            }
            RecalcFinalScores();
        }

    </script>
    <!-- <p>
        <label for="charactername">Character Name</label>
        <input type="String" name="charactername" value={{actor.data.name}} />
    </p> -->
    <table>
        <tr>
            <td id="results_header" class="result-header">
                <div id="results_drop_zone" class="result-container" ondrop="drop_handler(event)"
                    ondragover="dragover_handler(event)">
                    {{#each final_results as |final_results id| }}
                    <div id="div_final_result{{id}}" class="ability-drop-item" ondblclick="MoveResult(event)" draggable="true">
                        {{final_results}}
                    </div>
                    {{/each}}
                </div>
            </td>
            <td class="bonus-header">
                <span>Bonus Points:&nbsp;</span><span id="span_bp_remaining">{{bonus_points}}</span>/<span id="span_bp_max">{{bonus_points}}</span>
            </td>
        </tr>
    </table>
    <table id="ability_scores" data-over18allowed={{over18allowed}} data-distributeResults={{distributeResults}}>
        <tr id="header_row" class="header-row">
            <th>Ability</th>
            <th>Result</th>
            <th>Bonus</th>
            <!-- <th>Racial</th> -->
            <th>Score<span style="font-size: small;">{{#unless over18allowed}}*{{/unless}}</span></th>
            <th>Mod</th>
        </tr>
        {{#each abilities as |abilities id|}}
        <tr id="{{abilities.ability}}_row" class="ability-row">
            <td class="ability-text">{{abilities.ability}}</td>
            <td id="{{abilities.ability}}_ability_drop_zone" class="ability-drop-zone" title="drop result here" ondrop="drop_handler(event)" ondragover="dragover_handler(event)">                
            </td>
            <td class="bonus-points"><span id="{{abilities.ability}}_bp_minus" class="bp-button bp-button-minus" onclick="BPchange(event)">-</span><span class="bp">0</span><span id="{{abilities.ability}}_bp_plus" class="bp-button bp-button-plus" onclick="BPchange(event)">+</span></td>
            <!-- <td id="{{abilities.ability}}_racial_mod" ></td> -->
            <td id="{{abilities.ability}}_final_score"><input name="{{abilities.ability}}_final_score" class="final-score" value="0" /></td>
            <td id="{{abilities.ability}}_mod" class="modifier">-5</td>
        </tr>
        {{/each}}        
    </table>
    <button type="submit" id="submit" disabled>
        <i class="fa fa-check"></i> Accept New Actor
    </button>
    <span style="font-size: small;">{{#unless over18allowed}}* No scores over 18 allowed at first level.{{/unless}}</span>
</form>