  .results-header{
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 3em;
    font-size: small;
    font-style: italic;
  }
  .results-drop-zone{
    width: 100%;
    padding: 5px;
    height: 3em;
    font-size: small;
    font-style: italic;
  }
  .ability-drop-item {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    border: 2px groove #FFF;
    border-radius: 5px;
    padding: 6px 0px 0px 0px;
    font-size: 11px;
    font-style: normal !important;
    margin-right: 3px !important;
  }  
  .final-score{
    border: none;
    background-color: transparent;
    height: 2.5em; 
    width: 2.5em;
    text-align: center;
    font-size: medium;
  }
  .header-row, .ability-row{
    text-align: center;
    font-size: small;
  }
  .bp-button{    
    width: 1.4em;
    height: 1.4em;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #413737; 
  }
  .bp-button:hover{
    background-color: #C5C3B8;
  }
  .bp-button-minus{   
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .bp-button-plus{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .modifier{
    font-size: 12px;
    padding-bottom: 3px;
  }
  .ability-text{
    font-size: 18px;
    text-transform: capitalize;
    font-family: var(--modesto);
    font-weight: 700;
  }
  .over18{
    color: red;
  }
  input{
    height: 1.8em;
    background: rgba(0, 0, 0, 0.05);
    padding: 1px 3px;
    margin: 0;
    color: var(--color-text-dark-primary);
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    line-height: inherit;
    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 3px;
    width: 100%;
  }
  .div_lable{
    width:15%;display: inline-block;
  }
  .div_user_input{
    width:84%;display: inline-block;
  }
